[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
unicodecsv = "*"
pymongo = "*"
tqdm = "*"
flask = "*"
flask-restful = "*"
dateparser = "*"
flask-cors = "*"

[pipenv]
allow_prereleases = true
